.header, .footer{
    background-color: #1F2937;
    color: #F9FAF8;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    align-items: center;
    padding-right: 15%;
}

.nav-item{
    margin-left: 1rem;
    margin-right: 1rem ;
    list-style-type: none;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 15%;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}

.header > .container{
    display: flex;
}

.container{
    margin-left: 13%;
    margin-right: 13%;
}

.container > .left-side {
    display: flex;
    margin-right: auto;
    flex-direction: column;
}

.container > .right-side {
    margin-left: auto;
}

.container > .left-side > h1 {
    font-size: 48px;
    font-weight: 900px;
}
.container > .left-side > p {
    padding-right: 10%;
}
.container > .left-side > button {
    width: 150px;
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: 900;
    padding: .8rem;
    border-radius: 15px;
    font-size: 18px;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 400px;
    align-items: center;
}

.content > h1 {
    font-size: 32px;
    font-weight: 900px;
    color: #1F2937;
}

.content > .container > .boxes {
    display: flex;
    gap: 50px;
    list-style-type: none; 
    text-decoration: none;
}

.box-image{
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}
.content > .container > .subtext {
    display: flex;
    gap: 50px;
    list-style-type: none; 
    text-decoration: none;
}

.subtext-item{
    width: 200px;
    text-align: center;
}   


.quote {
    background-color: gray;
    height: 400px;
}
.quotee ,.quoted-text{
    margin:0 20% ;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quoted-text{
    text-align: center;
    padding-top: 8%;

}

.quotee{
    text-align: end;
    padding-top: 1rem;
}

.signup{
    background-color: white;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.signup-container{
    background-color: #3882f6;
    color: #F9FAF8;
    width: 55%;
    display: flex;
    padding-right: 10%;
    padding-left: 10%;
}


.signup-container > .left-side {
    display: flex;
    flex-direction: column;
}   

.signup-container > .left-side > *{
    width: 450px;
}

.signup-container > .right-side{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.right-side > button {
    background-color: #3882f6;
    color: #F9FAF8;
    width: 100px;
    padding: .2rem 1.2rem;
    border-radius: 8px;
    border: solid white 2px;
    font-size: 14px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}