

.header{
    background-color: #1F2937;
    color: #F9FAF8;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    align-items: center;
    padding-right: 15%;
}

.nav-item{
    margin-left: 1rem;
    margin-right: 1rem ;
    list-style-type: none;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 15%;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}

.header > .container{
    display: flex;
}

.container > .left-side {
    display: flex;
    flex-direction: column;
    margin-left: 14%;
    border: solid red 2px;
    width: 25%;
}

.container > .left-side > h1 {
    font-size: 48px;
    font-weight: 900px;
}

.content {
    display: flex;
    justify-content: center;
    background-color: white;
    height: 500px;
}
.content > h1 {
    font-size: 32px;
    font-weight: 900px;
    color: #1F2937
}

.quote {
    background-color: gray;
    height: 500px;
}