.header{
    background-color: #1F2937;
    color: #F9FAF8;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    align-items: center;
    padding-right: 15%;
}

.nav-item{
    margin-left: 1rem;
    margin-right: 1rem ;
    list-style-type: none;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 15%;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}

.header > .container{
    display: flex;
}

.container{
    margin-left: 13%;
    margin-right: 13%;
}

.container > .left-side {
    display: flex;
    margin-right: auto;
    flex-direction: column;
}

.container > .right-side {
    margin-left: auto;
}

.container > .left-side > h1 {
    font-size: 48px;
    font-weight: 900px;
}
.container > .left-side > p {
    padding-right: 10%;
}
.container > .left-side > button {
    width: 150px;
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: 900;
    padding: .8rem;
    border-radius: 15px;
    font-size: 18px;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 500px;
    align-items: center;
}

.content > h1 {
    font-size: 32px;
    font-weight: 900px;
    color: #1F2937;
}

.content > .container > .boxes {
    display: flex;
    gap: 50px;
    list-style-type: none; 
    text-decoration: none;
}

.box-image{
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}
.content > .container > .subtext {
    display: flex;
    gap: 50px;
    list-style-type: none; 
    text-decoration: none;
}

.subtext-item{
    width: 200px;
    text-align: center;

}   





.quote {
    background-color: gray;
    height: 500px;
}